<ControlPanel @bind-Config="Config"></ControlPanel>
<select>
    @foreach (Person p in People)
    {
        <option>@p.Name</option>
    }
</select>
<label>The value of Config.SomeValue is @Config.SomeValue</label>

@code {
    // https://learn.microsoft.com/en-us/aspnet/core/blazor/components/data-binding?view=aspnetcore-8.0#binding-with-component-parameters
    [Parameter] public List<Person> People { get; set; }
    [Parameter] public ControlConfig Config { get; set; }
    [Parameter] public EventCallback<ControlConfig> ConfigChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        foreach (Person p in People)
            p.Name = "Hello from MyControl2";
    }
}
